body {
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 25px;
  align-items: center;
  text-align: center;
}

div div {
  position: relative;
  background-color: #f3f3f3;
  border: 0px solid;
  height: 490px;
  width: 300px;
}

div div div {
  height: 230px;
  width: 135px;
  position: absolute;
  border: 5px solid white;
}

div div div:first-child {
  top: 0px;
  left: 0px;
  background-color: tomato;
}

div div div:nth-child(2) {
  top: 0px;
  right: 0px;
  background-color: teal;
}

div div div:nth-child(3) {
  bottom: 0px;
  left: 0px;
  background-color: burlywood;
}

div div div:last-child {
  bottom: 0px;
  right: 0px;
  background-color: thistle;
}

div div div div {
  height: 80px;
  width: 135px;
  background-color: white;
  position: absolute;
  border: none;
  display: inline-block;
}
div div div:first-child div {
  background-color: white;
  top: 15px;
}

div div div:nth-child(2) div {
  background-color: white;
  top: 15px;
}

div div div:nth-child(3) div {
  background-color: white;
  top: 15px;
}

div div div:last-child div {
  background-color: white;
  top: 15px;
}

div div div div span {
  color: black;
  font-size: 18px;
  display: block;
  margin: 5px;
}

div div div div small {
  color: black;
  margin: 5px;
}
