#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
}

#no-mobile span {
  display: block;
  text-align: center;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
