@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Noto Sans JP", sans-serif;
  height: 120vh;
  color: #2e3632;
}
